# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript cache
*.tsbuildinfo

# Node.js dependency directory
node_modules/

# Firebase cache
.firebase/

# Firebase config file
.runtimeconfig.json

# Environment variables
.env
.env.local
